.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-logout {
    background: white;
    color: red;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}